body{
    padding-left: 20px;
    padding-right: 20px;
}
hr{
    width: 100%;
}
.column{
    float:left;
}
.left{
    width:70%;
}
.right{
    width: 30%;
}
.btn{
    width: 100%;
}
#controle{
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    margin:0;
}